<!-- blog/templates/blog/index.html -->
{% extends "blog/base.html" %}
{% block page_title %}
    <h2>Blog Posts</h2>
{% endblock page_title %}

{% block page_content %}


    {% block posts %}
        {% for post in posts %}
            <h3><a href="{% url 'blog_detail' post.slug %}">{{ post.title }}</a></h3>
            <small>
                {{ post.created_on.date }} | Categories:
                {% for category in post.categories.all %}
                    <a href="{% url 'blog_categories' category.name %}">
                        {{ category.name }}
                    </a>
                    {% if post.image %}
<img src="{{ post.image.url }}" alt="{{ post.image_alt }}" width = "250"/>
{% endif %}
                {% endfor %}
            </small>
            <p>{{ post.body | slice:":250" }}...</p>
            <h4>tags:</h4>
            <p>{% for tag in tags %}
                <a href="{% url 'blog_tags' tag.name %}">
                    <button>{{ tag }}</button></a>
                
            {%endfor%}</p>

        {% endfor %}
    {% endblock posts %}
{% endblock page_content %}