{% extends "core/base.html" %}
{% load static %}
{% block page_title %} The Inquisition{% endblock page_title %}
{% block page_content %}

<div id="subtitle" class="fullwidth intro center-aligned">
    <h2>About the Inquisition</h2>
    <p>
        We discuss the original Inquisition of old, with its origins and purpose, along with
        the current Inquisition's founding and purpose.
    </p>
</div>
<div id="old-inquisition" class="main-text textbox-left">
    <h3>The History</h3>
    <p>
        In the years before the founding of the Chantry and the start of the Divine Age, 
        Thedas was plunged into chaos. The First Blight had ended, the Imperium had broken 
        apart, and - despite the spread of the Maker's teachings -
        blood mages, maleficar, and Old Gods cults were widespread. The Inquisition was 
        formed around -100 Ancient with the goal of protecting the people from blood mages, 
        abominations, cultists or heretics.
    </p>
    <p>
        Some say theirs was a reign of terror. Others say they were cast in a negative
        light by history because their investigations and even application of justice - 
        protecting both mages and common people impartially - crossed too many powerful 
        groups. In these accounts it is suggested that the group was already known as the 
        Seekers of Truth and that the "Inquisition" moniker was perhaps pejorative.
    </p>

    <p>
        In 1:20 Divine, the newly founded Chantry found common cause with the Inquisition and 
        they signed the Nevarran Accord. As part of the agreement, the Inquisition became the 
        new martial arm of the Chantry, the Templar Order, and its senior members became known as
        the Seekers of Truth. Another result was the creation of the Circle of Magi, with the
        Templars serving as overseers for the Circle.
        </p>

    <p>
        When the Inquisition was no more, the mysterious Order of Fiery Promise 
        rose up for the first time, claiming to be the real Inquisition and Seekers of Truth.
        They were quickly dispersed by the might of the newly established Chantry.</p>
    </p>


</div>
<div id="about-image" class="main-image img-right">
    <img src="{%static 'core/images/card_templar.png'%}" alt="A Templar with sword and shield">
</div>

<div id="about-heraldry" class="main-image img-left">
    <img src="{%static 'core/images/advisor_cassandra.png' %}" alt="Cassandra Pentaghast, the late Divine's Right Hand">
</div>

<div id="new-inquisition" class="main-text textbox-right">
    <h3>A New Beginning</h3>
    <p>Following the massive explosion that killed the Divine and the Conclave, 
        Thedas has fallen into chaos and The Breach threatens to consume the world.
        The late Divine's writ was invoked by her Hands - Cassandra Pentaghast 
        and Sister Nightingale - declaring the Inquisition reborn and independent of 
        Chantry authority.
    </p>
        
    <p>
        The Chantry has denounced the Inquisition, calling us heretics for 
        "harbouring" the Herald. Even knowing he was saved from The Fade by
        a benevolent female spirit, even knowing he has stabilised The Breach
        already, and even knowing the late Divine's own Hands support him.
    </p>
    
    <p>We have since obtained the aid of mage rebels, who have proven their worth
        by aiding the Herald in sealing the Breach. Haven has been attacked by Corypheus, 
        the evil hand behind Divine Justinia's death, but the village was successfully
        evacuated and all survivors now reside safely at Skyhold - thanks to
        the Herald. </p>

</div>

<div id="about-heraldry-text" class="main-text textbox-left">
    <h3>Our Heraldry</h3>
    The constellations Visus, known as "the Watchful Eye", 
    and Judex, known as the "Blade of Mercy" or the "Sword of Mercy", 
    are intertwined to form the Inquisition's heraldry. Visus was originally a 
    symbol of the Lady of the Skies. During Andraste's exalted March, 
    Visus was used by her armies to guide their way north and came to be
    associated with the Maker. The sword was added later, as it is said that 
    the star that marks the point of the blade only appeared in the sky after
    Andraste's death. The early Inquisition took Visus as their symbol. 
    After the establishment of the Nevarran Accord, which divided the 
    Inquisition into the Templar Order and the Seekers of Truth, the 
    Inquisition's sigil split in two: the Blade of Mercy became the Templars' symbol,
    while the all-seeing eye became the crest of the Seekers of Truth.
</div>
<div id="about-heraldry" class="singlecol main-image img-right">
    <img src="{%static 'core/images/card_heraldry.png' %}" alt="a watchful eye with a sword behind it, the symbol of the Inquisition">
</div>
{% endblock page_content %}
