{% extends "core/base.html" %}
{% load static %}
{% block page_title %}Aides{% endblock page_title %}
{% block page_content %}

    <div id="aides-intro" class="fullwidth intro">
        <h2>The Aides</h2>
        <p>The Aides are a select team, accountable only to the Herald, and accompany him on field
            missions throughout Ferelden and Orlais. They provide direct support to the Herald but have no 
        say or influence in how the Inquisition is managed.</p>
    </div>
    <div id="blackwall" class="singlecol">
        <img src="{%static 'core/images/blackwall.jpeg'%}" class="minor-image" alt="a Warden riding a griffin">
        <h3>Warden Blackwall</h3>
        <p>
            Blackwall is an experienced fighter and Grey Warden. He is a recipient of the 
            Silverite Wings of Valor for fearlessly navigating a crumbling darkspawn-infested 
            cave system alone in order to rescue seven other Wardens who were trapped.
        </p>
        <p>
            When the Breach opened, Blackwall protected the people of The Crossroads protected 
            from demons as they fled with what little they had. He was recruited by The Herald 
            when he was found protecting and rallying farmers in their fight against
            the bandits who had been terrorising villagers fleeing The Breach.
        </p>
    </div>

    <div id="varric" class="singlecol">
        <img src="{%static 'core/images/varric.jpeg'%}" class="minor-image" alt="dwarven chest hair">
        <h3>Varric Tethras</h3>
        <p>Varric is from a wealthy surface-dwarf merchant family,known colloquially around the
            Free Marches as somewhat of a merchant prince. He was born 
            in Kirkwall and helped to shape his family's business. With a talent
            for diplomacy and a reputation for shrewdness, Varric is swift with his 
            wit as well as his crossbow.  
        </p>
        <p>
            Varric was recruited for his vast contact network, enabling faster acquisition
            of important knowledge. He was also a key player in the Kirkwall Rebellion, and
            joined the Inquisition as soon as the Breach opened.
        </p>
    </div>

    <div id="vivienne" class="singlecol">
        <img src="{%static 'core/images/vivienne.jpeg'%}" class="minor-image">
        <h3>First Enchanter Vivienne</h3>
        <p>
            First Enchanter of Montisimmard, Madame de Fer, the Lady of Iron, 
            and Enchanter to the Imperial Court or Orlais, Vivienne is an incredible talent. 
            One of the youngest full-fledged mages in Circle history and an exceptional scholar, 
            she is well known, respected, and - some may say - feared, in the Orlesian court.
        </p>
        <p>
            Vivienne is a Circle Loyalist, and well placed to advise the Herald in matters
            of magic and The Circle. She provides advice regarding Orlesian
            and Circle Politics to the Herald, as well as field support.
        </p>
    </div>

        <div id="solas" class="singlecol">
        <img src="{%static 'core/images/solas.jpeg'%}" class="minor-image">
        <h3>Solas</h3>
        <p>
            Solas is a well-travelled and highly skilled elven mage. As an expert on The Fade, 
            he volunteered his services to the Inquisition upon witnessing the creation of
            The Breach from afar. Upon arrival, he surrendered his staff willingly and was granted permission
            to study the Herald - then simply the sole survivor of the Conclave - and the new magic.
        </p>
        <p>
            Solas used his knowledge of magic and wards to save the Herald's life, and to aid Inquisition 
            forces fight off demons at the Breach. His knowledge was key in stabilising the breach, and he 
            provides expert knowledge on the Fade, the Rifts, and Spirits as well as field support. 
        </p>
    </div>

    <div id="ironbull" class="singlecol">
        <img src="{%static 'core/images/ironbull.jpeg'%}" class="minor-image">
        <h3>The Iron Bull (and Chargers)</h3>
        <p>
            The Iron Bull is leader of one of the most prestigious mercenary companies in Thedas. 
            His mercenary group comprises less than fifty members and specialise as shock troops 
            and skirmishers. They are a diverse group, with members of all races and backgrounds, 
            including city-dwelling elves, former slaves, and dwarven exiles.
            
        </p>
        <p>
            The Iron Bull himself is a fierce warrior and loyal leader. He provides hefty
            field support to The Herald, whilst the Chargers provide support to ordinary folk
            across Ferelden and beyond. He was recruited for his strength - along with the
            additional swordarms of The Chargers - which was witnessed first-hand by The Herald
            on the Storm Coast, as they battled a group of Venatori.
        </p>
    </div>

    <div id="dorian" class="singlecol">
        <img src="{%static 'core/images/dorian.jpeg'%}" class="minor-image">
        <h3>Dorian Pavus</h3>
        <p>
            Dorian Pavus is a prestigious mage from House Pavus of Tevinter. Despite being in line 
            for a position in the Magisterium, Dorian vociferously opposes every fault his 
            homeland is known for, and has become an outcast in Tevinter. His knowledge of
            the inner workings of the Imperium and their corrupt practices 
            proved valuable in defeating and capturing
            a formerly powerful Magister, Magister Gereon Alexius, who had been manipulating
            the Fereldan mages and time itself on behalf of Corypheus.
        </p>
        <p>
            Dorian provides the Herald with field support and advice regarding magic and the 
            Imperium's corrupt behaviours.
        </p>
    </div>


{% endblock page_content %}