{% extends "core/base.html" %}
{% load static %}
{% block page_title %}Careers{% endblock page_title %}
{% block page_content %}
<div id="intro" class=" intro fullwidth">
    <h2>opportunities</h2>
    <p>Discover what you can achieve with The Inquisition. No matter who you are or what your current skills - 
        if you want to be part of something bigger, you can find us at Skyhold.
        You do not need to be trained to join us; we provide full training and 
        hands-on experience. We need everyone from cooks and cleaners, to researchers 
        and herbalists. 
    </p>
</div>
<div id="dagna" class="main-text textbox-left">
    <h3>Dagna</h3>
        <blockquote>"I was simply the daughter of a Smith caste dwarf but I had no 
            interest in that. The Hero of Ferelden encouraged me, and I left 
            everything I had and known to study magic on the surface. The Inquisition 
            saw my potential and passion, and now I'm here! Studying new magic, 
            researching it, and making a real difference!"
        </blockquote>

            <h3>Lace Harding</h3>
        <blockquote>"I'm just a normal Fereldan girl. I grew up on farmland, helping 
            neighbours with their animals. I've always loved exploring, and helping people 
            out. When the Inquisition forces appeared in Redcliffe, I volunteered to 
            guide them ... and now here I am! One of their top scouts!"
        </blockquote>
        <p>
            If you want to join us, come see us at Skyhold. We take anyone in if they have
            a strong heart and desire to help those in need. No matter who you are, you 
            can make a difference in these dire times.
        </p>
</div>
<div id="alchemist-img" class="main-image img-right singlecol">
    <img src="{%static 'core/images/alchemist.jpeg'%}" alt="a dwarven alchemist holding a bottle">
</div>

{% endblock page_content %}