{% extends "core/base.html" %}

{% load static %}

{% block page_title %}Directors{% endblock page_title %}

{% block page_content %}

<div id="director-intro" class="intro fullwidth">
    <h2>The Directors</h2>
    <p>The Directors of the Inquisition are the founders and advisors. They
        use their extensive experience in their respective fields to guide
        The Herald and oversee our work within the community.
    </p>
</div>

<div id="josephine" class="main-text textbox-left">
    <h3>Lady Josephine Montiliyet</h3>
    <p>
        Lady Josephine Montiliyet is the eldest daughter and heir of the noble Montilyet 
        family from Antiva. She has a wealth of experience handling her family's business and
        dealing with merchants and nobles alike. As such, she is an eminent figure in diplomacy, forging 
        relations with grace, charm and careful favors. 
    </p>
    <p>
        Josephine worked for years as chief ambassador from Antiva to Orlais and as such is very familiar with Orlesian politics. 
        She possesses a good mind for administration and understands that restoring the Inquisition 
        to its former glory is an impossible task without the backing of Thedas's most influential figures. 
        Fortunately, Josephine enjoys a challenge and is committed in her belief that the Inquisitor is Thedas's last, 
        best chance at halting the chaos that engulfs it.
    </p>
    <p>
        Lady Josephine guides The Herald in all diplomatic affairs, forging alliances 
        and engaging in beneficial community work.
    </p>
</div>
<div id="josephine-img" class="main-image img-right">
    <img src="{%static 'core/images/advisor_josephine.png'%}" alt="Lady Josephine Montiliyet, a graceful lady with dark hair pulled back in a bun
    and wearing a golden dress.">
</div>


<div id="cassandra-img" class="main-image img-left">
    <img src="{%static 'core/images/advisor_cassandra.png'%}">
</div>
<div id="cassandra" class="main-text textbox-right">
    <h3>Lady Cassandra Pentaghast</h3>
    <p>
        Cassandra Allegra Portia Calogera Filomena Pentaghast is a Nevarran of the royal Pentaghast 
        family and Seeker of the Chantry. She has been the Right Hand of the Divine since 9:22 Dragon. 
    </p>
    <p>
        
        She excelled in her studies and underwent her vigil at the age of fifteen. 
        She turned her back on her old life of privilege to join the Seekers of Truth,
        to watch over the land she loves and protect it from corruption and threats as granted by the Chantry.
    </p>
    <p>
        Many Seekers abandoned the Chantry after the mage rebellion. Cassandra remained loyal 
        to Divine Justinia and her efforts to restore order in the face of chaos. 
        She is both pious and driven, the sword in the right hand of the Divine, seeking justice above all else.
    </p>
    <p>
        Due to her rigourous Seeker training, Lady Cassandra is a loyal and pious Andrastrian as well as a gifted warrior.
        Her experience as an investigator and protector help to guide The Herald in searching for the truth 
        and to find and punish those responsible for The Breach, and Divine Justinia's death. Given her warrior training,
        Lady Cassandra also accompanies the Herald on field missions.
    </p>


</div>

<div id="cullen" class="main-text textbox-left">
    <h3>Ser Cullen Rutherford</h3>
    <p>Born in the Fereldan village of Honnleath,From a young age, Cullen had a strong desire to enter a 
        profession that helped people, and he refused to be swayed from the path he had chosen.  
        When he was thirteen years old, a visiting knight-captain took notice of Cullen's hard work 
        and offered him the chance of formal training. 
    
    <p>
        He was first assigned to the Circle Tower at Kinloch Hold, where he remained during the Fifth Blight.
        After this, he was reassigned to Kirkwall and served as Knight Captain. In the chaos that erupted
        during the Kirkwall Rebellion, Cullen took charge and rallied what remained of the city's templars 
        to restore order. It was here that Lady Cassandra herself witnessed his capabilities, and recruited him 
        into the Inquisition, granting him the rank of Commander.
    </p>
    <p>
        Cullen now leads the military arm of the Inquisition and serves as tactical advisor to The Herald. 
    </p>

</div>
<div id="cullen-img" class="main-image img-right">
    <img src="{%static 'core/images/advisor_cullen.png'%}">
</div>


<div id="leliana-img" class="main-image img-left">
    <img src="{%static 'core/images/advisor_leliana.png'%}" alt="Sister Nightingale, a red-haired woman looking to the side with her finger to her lips">
</div>
<div id="leliana" class="main-text textbox-right">
    <h3>Sister Nightingale</h3>
    <p>
        Sister Nightingale is a veteran of the Fifth Blight, a friend to the Hero of Ferelden,
        and loyal Andtrastrian. She was born in Orlais, and was brought up by Lady Cecilie 
        (an Orlesian noble) after her mother's death. However, her mother was Fereldan,
        and therefore she considers herself a Fereldan as well.
    </p>
    <p>
        Thanks to her upbringing, she learned a lot about the Orlesian noble court. However,
        she did not much care for this way of life and returned to Ferelden to join the Chantry
        in Lothering as a lay sister. It was here that she met the Hero of Ferelden and 
        joined them in fighting the Fifth Blight.
    </p>
    <p>After this, she answered summons from Divine Justinia V and became her Left Hand. During 
        this time, she investigated rumours of a mage rebellion and Qunari activity. 
    </p>
    <p>
        Sister Nightingale aids the Herald with her vast network of former bards and contacts within 
        the Chantry. She gathers information and manages the Inquisition's scouting parties.
    </p>
</div>

{% endblock page_content %}