{% extends "core/base.html" %}
{% load static %}
{%block page_head %} <script defer src="{% static '/core/toggle.js' %}"></script> {% endblock page_head %}
{% block page_title %}FAQs{% endblock page_title %}
{% block page_content %}

<section class="faqs fullwidth">
    <div class="faq-container">


        <article class="faq-item">
            <button class="faq-question" aria-expanded="false">
                <h3>I can't fight, I know nothing about healing, can I help somehow?</h3>
            <span class="faq-icon" aria-hidden="true">+</span>
            </button>
            <div class="faq-answer">
                <p>Of course! We are a large organisation, and we need everyone to keep running!</p>
                <p>Some non-military/medicinal roles we currently have:</p>
                <ul>
                    <li>Stablehands, groomers, dog handlers</li>
                    <li>Cooks, servers, dish washers, pub staff</li>
                    <li>Cleaners, water carriers, porters</li>
                </ul>
            </div>
        </article>


        <article class="faq-item">
            <button class="faq-question" aria-expanded="false">
                <h3>I can't fight, I know nothing about healing, can I help somehow?</h3>
            <span class="faq-icon" aria-hidden="true">+</span>
            </button>
            <div class="faq-answer">
                <p>do this to answer this question blabalblablalab</p>
            </div>
        </article>


        <article class="faq-item">
            <button class="faq-question" aria-expanded="false">
                <h3>I can't fight, I know nothing about healing, can I help somehow?</h3>
            <span class="faq-icon" aria-hidden="true">+</span>
            </button>
            <div class="faq-answer">
                <p>do this to answer this question blabalblablalab</p>
            </div>
        </article>



        <article class="faq-item">
            <button class="faq-question" aria-expanded="false">
                <h3>Question 1</h3>
            <span class="faq-icon" aria-hidden="true">+</span>
            </button>
            <div class="faq-answer">
                <p>do this to answer this question blabalblablalab</p>
            </div>
        </article>


        <article class="faq-item">
            <button class="faq-question" aria-expanded="false">
                <h3>Question 1</h3>
            <span class="faq-icon" aria-hidden="true">+</span>
            </button>
            <div class="faq-answer">
                <p>do this to answer this question blabalblablalab</p>
            </div>
        </article>

        <article class="faq-item">
            <button class="faq-question" aria-expanded="false">
                <h3>Question 1</h3>
            <span class="faq-icon" aria-hidden="true">+</span>
            </button>
            <div class="faq-answer">
                <p>do this to answer this question blabalblablalab</p>
            </div>
        </article>


        <article class="faq-item">
            <button class="faq-question" aria-expanded="false">
                <h3>Question 1</h3>
            <span class="faq-icon" aria-hidden="true">+</span>
            </button>
            <div class="faq-answer">
                <p>do this to answer this question blabalblablalab</p>
            </div>
        </article>


        <article class="faq-item">
            <button class="faq-question" aria-expanded="false">
                <h3>Question 1</h3>
            <span class="faq-icon" aria-hidden="true">+</span>
            </button>
            <div class="faq-answer">
                <p>do this to answer this question blabalblablalab</p>
            </div>
        </article>


        <article class="faq-item">
            <button class="faq-question" aria-expanded="false">
                <h3>Question 1</h3>
            <span class="faq-icon" aria-hidden="true">+</span>
            </button>
            <div class="faq-answer">
                <p>do this to answer this question blabalblablalab</p>
            </div>
        </article>


    </div>
</section>



{% endblock page_content %}