{% extends "core/base.html" %}
{% load static %}
{% block page_title %}Our Work{% endblock page_title %}
{% block page_content %}


<div id="work-intro" class="fullwidth intro">
    <h2>What We Do</h2>
    <p>We are primarily focused on closing The Breach, but our investigations into 
        this has led us to uncovering more systemic problems throughout Ferelden, The Free Marches, 
        and even Orlais. Here, you can read about some of the work we have done to improve 
        our communities and help those in need. You will see that not all of it is heavy work! 
    </p>
</div>

<div id="work-towers" class="singlecol altrow">
    <div class="nested-section nest-image">
        <img src="{%static 'core/ram.png'%}" alt="Rams">
    </div>
    <div class="nested-section text">
        The Herald himself attended to refugees in the Hinterlands near
        Redcliffe, using his skills as a Dalish hunter to provide fresh food 
        for those in need.
    </div>
</div>
<div id="work-towers" class="singlecol altrow">
    <div class="nested-section nest-image">
        <img src="{%static 'core/towers.png'%}" alt="Towers built in the Hinterlands" class="round">
    </div>
    <div class="nested-section text">
        We have built watch towers in the Hinterlands, allowing for advance 
        warnings to locals and Inquisition patrols of incoming attacks.
    </div>
</div>
<div id="work-towers" class="singlecol altrow">
    <div class="nested-section nest-image">
        <img src="{%static 'core/wolves.png'%}" alt="Demon Wolves " class="round">
    </div>
    <div class="nested-section text">
        Vanquished Demon-possessed wolves from the Redcliffe
        farmlands, allowing locals to continue making a living.
    </div>
</div>

<div id="work-towers" class="singlecol">
    <div class="nested-section nest-image">
        <img src="{%static 'core/druffalo.png'%}" alt="A Druffalo">
    </div>
    <div class="nested-section text">
        Reunited a lost druffalo - Druffy - with her owner (yes, really!)
    </div>
</div>
<div id="work-towers" class="singlecol">
    <div class="nested-section nest-image">
        <img src="{%static 'core/bandit.png'%}" alt="a bandit with a bow">
    </div>
    <div class="nested-section text">
        Eliminated outlaws on the East Road, reported to be confronting refugees and killing
        any who dared to defend themselves. 
    </div>
</div>
<div id="work-towers" class="singlecol">
    <div class="nested-section nest-image">
        <img src="{%static 'core/potion.png'%}" alt="Elfroot potion in a green bottle">
    </div>
    <div class="nested-section text">
        Collected herbal ingredients for local healers who were unable to travel due to 
        the dangers present in the Hinterlands, allowing potions and salves to be distributed
        to refugees in need.
    </div>
</div>

<div id="work-towers" class="singlecol altrow">
    <div class="nested-section nest-image">
        <img src="{%static 'core/ragedemon.png'%}" alt="A red rage demon">
    </div>
    <div class="nested-section text">
        Worked with the Imperial Army to eliminate demons plaguing travellers and merchants 
        along the road between Val Foret and Montsimmard.
    </div>
</div>
<div id="work-towers" class="singlecol altrow">
    <div class="nested-section nest-image">
        <img src="{%static 'core/darkspawn.png'%}" alt="A Hurlock darkspawn screaming" class="round">
    </div>
    <div class="nested-section text">
        Stopped the late Marquise Bouffon's mining activity on behalf of the Venatori, and
        working with The Grey Wardens to eliminate the Darkspawn hoarde she unleashed.
    </div>
</div>
<div id="work-towers" class="singlecol altrow">
    <div class="nested-section nest-image">
        <img src="{%static 'core/redtemplar.png'%}" alt="Red Templar" class="round">
    </div>
    <div class="nested-section text">
        Wiped out a Red Templar holdout on the Storm Coast, restoring an old Dwarven port and 
        facilitating trade and supply routes between Ferelden and Orlais.
    </div>
</div>
{% endblock page_content %}